@import url('/plugins/src/table/datatable/datatables.css');
@import url('/plugins/css/light/table/datatable/dt-global_style.css');
@import url('/plugins/css/dark/table/datatable/dt-global_style.css');
@import url('/assets/css/light/apps/invoice-list.css');
@import url('/assets/css/dark/apps/invoice-list.css');


